html, body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    overflow: hidden;
    font-family: Arial, sans-serif;
    background: black;
}

#main-ctx {
    display: block;
    width: 800px;
    height: 600px;
    margin: 0px auto;
}
